<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Connexion | EkiCal</title>
  <link rel="stylesheet" href="/css/style2.css">
</head>
<body>
<div>
    <div>
        <h2>Connexion</h2>
    </div>

    {% if errors() %}
    <div>
        <p class="alert">{{ errors()[0] }}</p>
    </div>
    {% endif %}

    <form action="{{ route ('login.request') }}" method="POST" novalidate>
        {{ csrf_field() | raw }}

        <div class="input-container">
            <input name="email" type="email" value="{{ old('email') }}" placeholder="Adresse e-mail">
            <i class="fa fa-envelope"></i>
        </div>


        <div class="input-container">
            <input name="password" type="password" placeholder="Mot de passe">
            <i class="fa fa-lock"></i>
        </div>
        <button type="submit">Connexion</button>
    </form>


</div>
</body>
</html>
