<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inscription | Square</title>
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel="stylesheet" href="/css/style2.css">
</head>
<body class="antialiased">
<div class="joinus">
    <div>
        <div>
            <h2 class="">
                Rejoignez-nous !
            </h2>
        </div>
        {% if errors() %}
        <div class="">
            <ul class="">
                {% for error in errors() %}
                <li>
                    {{ error }}
                </li>
                {% endfor %}
            </ul>
        </div>
        {%endif%}

        <form action="{{ route('register.request') }}" method="POST" class="flex flex-col space-y-6" novalidate>
            <div class="">
                {{ csrf_field() | raw }}
                <input name="name"  size="50"  type="text" value="{{ old('name') }}" placeholder="Nom complet"
                       class="">
                <input name="email"  size="50" type="email" value="{{ old('email') }}" placeholder="Adresse e-mail"
                       class="">
                <input name="password"  size="50" type="password" placeholder="Mot de passe"
                       class="">
                <input name="password_confirmation"  size="50" type="password" placeholder="Confirmation du mot de passe"
                       class="">
            </div>
            <button type="submit"
                    class="">
                Inscription
            </button>
        </form>
    </div>
</div>
</body>
</html>
