<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style2.css">
    <title>EkiCal</title>
</head>
<body>
    <section class="index">
        <div class="frame">
            <img class="logo" src="/img/ekical.jpg" alt="">
            <h4>Votre agenda équestre</h4>
        </div>
        <button class="connect"><a href="{{route('login.form')}}">Se connecter</a></button>
    </section>
</body>
</html>
