<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>EkiCal</title>
</head>
<body class="bg">
<div class="guard_page">
    <section>
        <img class="logo" src="/img/ekical.jpg" alt="">
        <h4>Votre agenda<br>équestre</h4>
    </section>
    <button class="secondary"><a href="{{route('login.form')}}">Se connecter</a></button>
</div>
</body>
</html>
