{% include 'includes/header.html' %}
<title>New User | EkiCal</title>
<body>
<div>

        <div>
            <h2>Nouvel Utilisateur</h2>
        </div>

        <!-- Message alerte-->
        <div>
        {% if errors() %}
        <div>
            <ul>
                {% for error in errors() %}
                <li class="alert">{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
        {%endif%}
        </div>

        <!-- Formulaires Actions-->
        <form action="{{ route('register.request') }}" method="POST" novalidate>
            <div>
                {{ csrf_field() | raw }}
                <input name="name"  type="text" value="{{ old('name') }}" placeholder="Nom complet">
                <input name="email"  type="email" value="{{ old('email') }}" placeholder="Adresse e-mail">
                <input name="role" type="text" placeholder="Role">
                <input name="password"  type="password" placeholder="Mot de passe">
                <input name="password_confirmation"  type="password"
                       placeholder="Confirmation du mot de passe">
            </div>
            <button type="submit">Enregistrer</button>
        </form>

</div>
</body>
</html>
