{% include 'includes/header.html' %}
<title>New User | EkiCal</title>
<body>
<div>
    <div>
        <div><h2>New User</h2></div>
        {% if errors() %}
        <div>
            <ul>
                {% for error in errors() %}
                <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
        {%endif%}
        <form action="{{ route('register.request') }}" method="POST" novalidate>
            <div>
                {{ csrf_field() | raw }}
                <input name="name" size="50" type="text" value="{{ old('name') }}" placeholder="Nom complet">
                <input name="email" size="50" type="email" value="{{ old('email') }}" placeholder="Adresse e-mail">
                <input name="role" size="50" type="text" placeholder="Role">
                <input name="password" size="50" type="password" placeholder="Mot de passe">
                <input name="password_confirmation" size="50" type="password"
                       placeholder="Confirmation du mot de passe">
            </div>
            <button type="submit">Save</button>
        </form>
    </div>
</div>
</body>
</html>
