<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moda</title>
    <link rel="stylesheet" href="/public/css/style.css">
    <script src="/public/css/scripts.js" defer></script>
</head>
<body>
<!-- "Bouton" d'ouverture de la modale -->
<a href="#" role="button" data-target="#modal" data-toggle="modal">Ouvrir la modale 1</a>


<!-- Modale -->
<div class="modal" id="modal" role="dialog">
    <div class="modal-content">
        <div class="modal-close" data-dismiss="dialog">
            <input type="image" alt="Login" src="/public/img/remove.webp" height="20" width="20"/></div>
        <div class="modal-header"><h3>Delete User</h3></div>
        <div class="modal-body">
            Voulez-vous vraiment effacer cet utilisateur ?
        </div>
        <div class="modal-footer">
            <a href="#" class="btn btn-close" role="button" data-dismiss="dialog">No</a>
            <a href="#" class="btn" role="button">YES</a>
        </div>
    </div>
</div>

</body>
</html>