{% include 'includes/header.html' %}
<title>Utilisateurs | EkiCal</title>
<body>

<h2>{{titre}}</h2>

    <!-- Tableau -->
<main class="table">
    <!-- Header -->
    <section class="table_header">

        {% if auth().checkIsAdmin() %}
        <div class="page">
            <a href="{{ route('register.form') }}">
                <img src="/img/adduse.png" title="Ajoutez un user" height="38" width="38" alt="add"/>
            </a>
            <a href="{{ route('sheet') }}">
                <img src="/img/exportexcel.png" title="exporter en xlsx" height="35" width="35"
                     alt="export_xlsx"/>
            </a>
        </div>
        {% endif %}
    </section>

    <!-- Body -->
    <section class="table_body">
        <table>
            <thead>
            <tr>
                <th></th>
                <th>Nom</th>
                <th>Email</th>
                <th>Role</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for user in user %}
            <tr>
                <td><img class="avatar" src="{{ user.image_path }}" alt="Image"></td>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td class="status {% if user.role(admin) %}admin{% endif %}">{{ user.role }}</td>
                {% if auth().checkIsAdmin() %}
                <td>
                    <a href="{{ route('users.edit', {slug: user.id}) }}">
                        <input class="iconBis" type="image" src="/img/edit.png" title="Modifier un user" height="22" width="22"
                               alt="edit"/></a>
                    <a href="#confirm-{{ user.id }}">
                        <input class="icon" type="image" src="/img/drop.webp" title="Effacer un user" height="25" width="25"
                               alt="remove"/>
                    </a>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
</main>

<!-- Modale -->
{% for user in user %}
<div id="confirm-{{ user.id }}" class="modal">
    <p class="modalText" >Êtes-vous sûr de vouloir supprimer l'utilisateur <br><b>{{ user.name }} ?</b></p>
    <form method="POST" action="{{ route('users.delete', {slug: user.id}) }}">
        {{ csrf_field()|raw }}
        {{ method('DELETE')|raw }}
        <button type="submit" class="btn btn-danger">Confirmer</button>
        <a href="#" class="btn btn-secondary">Annuler</a>
    </form>
</div>
{% endfor %}

</body>
</html>
