{% include 'includes/header.html' %}
<title>Poneys | EkiCal</title>
<body>

    <!-- Informations users-->
<div class="identityCard">
    <img class="HomePicture" src="{{ base_path ~ '/' ~ poney.image_path }}" alt="Avatar">
    <div class="userIdentity">
        <p class="piconMain"><b>{{ poney.name }}</b></p>
        <p class="picon"><img class="icon" src="/img/birth.webp" alt="mail">{{ poney.birth | date('d/m/Y')}}</p>
        <p class="picon"><img class="icon" src="/img/poney.png" alt="pedigree"> {{poney.pedigree}}</p>
        <p class="picon"><img  class="icon" src="/img/list.jpg" alt="id">{{poney.id}}</p>
    </div>
</div>

    <!-- Message alerte-->
<div>
    {% if status() %}
        <p class="alert">
            {{ status() }}
        </p>
    {% endif %}
</div>

    <!-- Formulaires Actions-->
<div class="col">
    <div class="k">
        <form class="formD" action="{{ route('poneys.editWeight', {slug: poney.id}) }}" method="POST"  novalidate>
            <div>
                <h3>Poids</h3>
                <div>
                    {{ csrf_field()|raw }}
                    {{ method('PATCH')|raw }}
                    <div>
                        <div>
                            <input id="id" name="id" value="{{ poney.id }}" type="hidden">
                            <input id="weight" name="weight" size="5" value="{{ (poney.weight) }}" type="number">
                        </div>
                        {% if errors('name') %}
                        <p class="alert">{{ errors('name')[0] }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div>
                <button type="submit">Save</button>
            </div>
        </form>
        <form class="formD" action="{{ route('poneys.editTpsw', {slug: poney.id}) }}" method="POST"  novalidate>
            <div>
                <h3>Travail</h3>
                <div>
                    {{ csrf_field()|raw }}
                    {{ method('PATCH')|raw }}
                    <div>
                        <div>
                            <input  name="id" value="{{ poney.id }}" type="hidden">
                            <input id="tps_w" name="tps_w" size="5" value="{{ (poney.tps_w) }}" type="number">
                        </div>
                        {% if errors('name') %}
                        <p class="alert">{{ errors('name')[0] }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div>
                <button type="submit">Save</button>
            </div>
        </form>
        <form class="formD" action="{{ route('poneys.editBirth', {slug: poney.id}) }}" method="POST"  novalidate>
                <div>
                    <h3>DN</h3>
                    <div>
                        {{ csrf_field()|raw }}
                        {{ method('PATCH')|raw }}
                        <div>
                            <div>
                                <input  name="id" value="{{ poney.id }}" type="hidden">
                                <input id=birth" name="birth" size="5" value="{{ (poney.birth) }}" type="date">
                            </div>
                            {% if errors('name') %}
                            <p class="alert">{{ errors('name')[0] }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div>
                    <button type="submit">Save</button>
                </div>
            </form>
        <form class="formD" action="{{ route('poneys.editName', {slug: poney.id}) }}" method="POST"  novalidate>
            <div>
                <h3>Nom</h3>
                <div>
                    {{ csrf_field()|raw }}
                    {{ method('PATCH')|raw }}
                    <div>
                        <div>
                            <input  name="id" value="{{ poney.id }}" type="hidden">
                            <input id="name" name="name" size="20" value="{{ (poney.name) }}" type="text">
                        </div>
                        {% if errors('name') %}
                        <p class="alert">{{ errors('name')[0] }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div>
                <button type="submit">Save</button>
            </div>
        </form>

    </div>

    <div class="k">
        <form class="formD" action="{{ route('poneys.editMedical', {slug: poney.id}) }}" method="POST"  novalidate>
            <div>
                <h3>Vis.Medic.</h3>
                <div>
                    {{ csrf_field()|raw }}
                    {{ method('PATCH')|raw }}
                    <div>
                        <div>
                            <input  name="id" value="{{ poney.id }}" type="hidden">
                            <input id="medicalVisit" name="medicalVisit" size="5" value="{{ (poney.medicalVisit) }}" type="date">
                        </div>
                        {% if errors('name') %}
                        <p class="alert">{{ errors('name')[0] }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div>
                <button type="submit">Save</button>
            </div>
        </form>
        <form class="formD" action="{{ route('poney.upload', {slug: poney.id}) }}" method="POST" novalidate enctype="multipart/form-data">
                <div>
                    <h3>Avatar</h3>
                    <div>
                        {{ csrf_field()|raw }}
                        {{ method('PATCH')|raw }}
                        <div>
                            <div >
                                <input  name="id" value="{{ poney.id }}" type="hidden">
                                <input id="picture" name="picture" type="file">
                            </div>
                            {% if errors('picture') %}
                            <p class="alert">{{ errors('picture')[0] }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div>
                    <button type="submit">Save</button>
                </div>
            </form>
        <form class="formD" action="{{ route('poneys.editPedigree', {slug: poney.id}) }}" method="POST"  novalidate>
                <div>
                    <h3>Pedigree</h3>
                    <div>
                        {{ csrf_field()|raw }}
                        {{ method('PATCH')|raw }}
                        <div>
                            <div>
                                <input  name="id" value="{{ poney.id }}" type="hidden">
                                <input id="pedigree" name="pedigree" size="20" value="{{ (poney.pedigree) }}" type="text">
                            </div>
                            {% if errors('name') %}
                            <p class="alert">{{ errors('name')[0] }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div>
                    <button type="submit">Save</button>
                </div>
            </form>
    </div>
</div>

</body>
</html>