{% include 'includes/header.html' %}
<title>Poneys | EkiCal</title>
<body>
    <div>
        <h2>{{titre}}</h2>
    </div>

    <!-- Tableau -->
<main class="table">
    <!-- Header -->
<section class="table_header">
    {% if auth().checkIsAdmin() %}
    <div class="page">
        <a href="{{ route('poney.form') }}">
            <img   src="/uploads/horse.JPG" title="Ajoutez un poney" height="45" width="45" alt="add"/>
        </a>
        <a href="{{ route('poneysheet') }}">
            <img  src="/img/exportexcel.png" title="exporter en xlsx"  height="34" width="34" alt="export_xlsx"/>
        </a>
    </div>
    {% endif %}
</section>

    <!-- Tableau -->
<section class="table_body">
    <table>
        <thead>
        <tr>
            <th></th>
            <th>Nom</th>
            <th>Poids</th>
            <th>Age</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for poney in poney %}
            <tr>
                <td><img class="avatar" src="{{poney.image_path}}" alt="Image"></td>
                <td>{{ poney.name }}</td>
                <td>{{ poney.weight }} Kg</td>
                <td>{{ date().format('Y') - (poney.birth) | date('Y') }} ans</td>
                    {% if auth().checkIsAdmin() %}
                        <td>
                            <a href="{{ route('poneys.edit', {slug:poney.id}) }}">
                                <input class="iconBis" type="image" src="/img/edit.png" title="Modifier un poney" height="22" width="22"
                                       alt="edit"/></a>
                            <a href="#confirm-{{ poney.id }}">
                                <input class="icon" type="image" src="/img/drop.webp" title="Effacer un poney" height="25" width="25"
                                       alt="remove"/>
                            </a>
                        </td>
                    {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</section>
</main>
<!-- Modale -->
 <div>
    {% for poney in poney %}
        <div id="confirm-{{ poney.id }}" class="modal">
            <p class="modalText" >Êtes-vous sûr de vouloir supprimer le poney ? <br><b>{{ poney.name }} ?</b></p>
            <form method="POST" action="{{ route('poneys.delete', {slug: poney.id}) }}">
                {{ csrf_field()|raw }}
                {{ method('DELETE')|raw }}
                <button type="submit" class="btn btn-danger">Confirmer</button>
                <a href="#" class="btn btn-secondary">Annuler</a>
            </form>
        </div>
    {% endfor %}
 </div>

</body>
</html>