@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

li, a, button,.status {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #043950;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10%;
    border-bottom: #14336a solid 1px;
}

.status {
    order :2;
    place-items: center;
    align-items: center;
    margin-left: auto;
    margin-right:60px;
}
nav {
    order :1;
    margin-top: 10px;
    margin-left: 0;

}
.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0 20px;
}
.nav_links li:nth-child(1){
padding: 0 20px 0 0;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color : #0088a9
}
.cta {
    order:3;
}
button{
    margin-right: 40px;
    padding: 5px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px ;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(0,136,169,0.8);
}

.kpi{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    margin-top: 0px;
    margin-bottom: 0px;
}

.progress-bar {
    width: 100px;
    height: 10px;
    background-color: #e0e0e0; /* Couleur de fond */
    position: relative;
    margin-bottom: 10px;
    overflow: hidden; /* Empêche le débordement */
}

.progress-bar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: var(--fill); /* Utilise la variable pour définir la largeur */
    background-color: #14336a; /* Couleur de remplissage */
    transition: width 0.5s ease; /* Transition fluide */
}




