{% include 'includes/header.html' %}
<title>Edit Client | EkiCal</title>
<body>

    <!-- Informations clients-->
<div class="identityCard">
        <div class="userIdentity">
            <p class="piconMain"><b>{{ client.name }}</b></p>
            <p class="picon"><img class="icon" src="/img/iconmail.png" alt="mail">{{ client.email }}</p>
            <p class="picon"><img class="icon" src="/img/role.png" alt="role"> {{client.phone}}</p>
            <p class="picon"><img  class="icon" src="/img/list.jpg" alt="id">{{client.id}}</p>
        </div>
    </div>

    <!-- Message alerte-->
<div>
    {% if status() %}
        <p class="alert">
            {{ status() }}
        </p>
    {% endif %}
</div>

    <!-- Formulaires Actions-->
    <form action="{{ route('clients.editName', {slug: client.id}) }}" method="POST"  novalidate>
        <div>
            <h3>Identité</h3>
            <div>
                {{ csrf_field()|raw }}
                {{ method('PATCH')|raw }}
                <div>
                    <label for="name">Nom complet</label>
                    <div>
                        <input id="id" name="id" value="{{ client.id }}" type="hidden">
                        <input id="name" name="name" size="50" value="{{ (client.name) }}" type="text">
                    </div>
                    {% if errors('name') %}
                    <p class="alert">{{ errors('name')[0] }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div>
            <button type="submit">Modifier le nom</button>
        </div>
    </form>
    <form action="{{ route('clients.editEmail', {slug: client.id}) }}" method="POST" novalidate>
        <div>
            <h3>Adresse e-mail</h3>
            <div>
                {{ csrf_field()|raw }}
                {{ method('PATCH')|raw }}
                <div>
                    <label for="email">Adresse e-mail</label>
                    <div>
                        <input id="email" name="email" size="50" value="{{ old('email', client.email) }}" type="email">
                    </div>
                    {% if errors('email') %}
                    <p class="alert">{{ errors('email')[0] }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div>
            <button type="submit">Modifier l'adresse e-mail</button>
        </div>
    </form>
    <form action="{{ route('clients.editPhone', {slug: client.id}) }}" method="POST" novalidate>
        <div>
            <h3>Téléphone</h3>
            <div>
                {{ csrf_field()|raw }}
                {{ method('PATCH')|raw }}
                <div>
                    <label for="phone">Téléphone</label>
                    <div>
                        <input id="phone" name="phone" size="50" value="{{ old('phone', client.phone) }}" type="text">
                    </div>
                    {% if errors('phone') %}
                    <p class="alert">{{ errors('email')[0] }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div>
            <button type="submit">Modifier le téléphone</button>
        </div>
    </form>
    <form action="{{ route('clients.editTVA', {slug: client.id}) }}" method="POST" novalidate>
        <div>
            <h3>N° Entreprise</h3>
            <div>
                {{ csrf_field()|raw }}
                {{ method('PATCH')|raw }}
                <div>
                    <label for="tva">N° Entreprise</label>
                    <div>
                        <input id="tva" name="tva" size="50" value="{{ old('tva', client.tva) }}" type="text">
                    </div>
                    {% if errors('email') %}
                    <p class="alert">{{ errors('tva')[0] }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <div>
            <button type="submit">Modifier le numéro d'entreprise</button>
        </div>
    </form>

</body>
</html>