{% include 'includes/header.html' %}
<title>Clientss | EkiCal</title>
<body>

<h2>{{titre}}</h2>

<!-- Formulaire de recherche-->
<div>
    <form name="fo" method="get" action="">
        <input type="text" name="keywords" placeholder="Rechercher un client">
        <button type="submit" name="valider" value="Rechercher">Rechercher</button>
        <p> {{ res }}
    </form>
</div>

<!-- Header-->
<section class="table_header">

    {% if auth().checkIsAdmin() %}
    <div class="page">
        <a href="{{ route('clients.form') }}">
            <img src="/img/adduse.png" title="Ajoutez un poney" height="38" width="38" alt="add"/>
        </a>
        <a href="{{ route('clientsheet') }}">
            <img  src="/img/exportexcel.png" title="exporter en xlsx" height="35" width="35"
                 alt="export_xlsx"/>
        </a>
    </div>
    {% endif %}
</section>

<!-- Tableau -->
<section class="table_body">
    <table>
        <thead>
        <tr>
            <th>Nom</th>
            <th>Email</th>
            <th>N° Entreprise</th>
            <th>Phone</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for client in client %}
        <tr>
            <td>{{ client.name }}</td>
            <td>{{ client.email }}</td>
            <td>{{ client.tva }}</td>
            <td>{{ client.phone }}</td>
            {% if auth().checkIsAdmin() %}
            <td>
                <a href="{{ route('clients.edit', {slug:client.id}) }}">
                    <input class="iconBis" type="image" src="/img/edit.png" title="Modifier un client" height="22" width="22"
                           alt="edit"/></a>
                <a href="#confirm-{{ client.id }}">
                    <input class="icon" type="image" src="/img/drop.webp" title="Effacer un client" height="25" width="25"
                           alt="remove"/>
                </a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</section>


<!-- Modale -->
<div>
    {% for client in client %}
        <div id="confirm-{{ client.id }}" class="modal">
            <p class="modalText" >Êtes-vous sûr de vouloir supprimer le client ? <br><b>{{ client.name }} ?</b></p>
            <form method="POST" action="{{ route('clients.delete', {slug: client.id}) }}">
                {{ csrf_field()|raw }}
                {{ method('DELETE')|raw }}
                <button type="submit" class="btn btn-danger">Confirmer</button>
                <a href="#" class="btn btn-secondary">Annuler</a>
            </form>
        </div>
    {% endfor %}
</div>

</body>
</html>